.main-container {
  background-color: black;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}
.container {
  margin-left: 70px;
  margin-right: 70px;
  font-family: sans-serif;
}
.tab {
  padding: 10px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
.tab--selected {
  border: 1px solid white;
  border-radius: 5px;
}
.tab:hover {
  filter: brightness(0.75);
  transform: scale(0.98);
}
.tab-container {
  display: flex;
  flex-direction: row;
  padding-top: 20px;
}
.home {
  color: white;
}
.billboard {
  display: block;
  position: relative;
  padding-left: 3px;
  padding-right: 3px;
  margin-bottom: 5px;
  margin-top: 15px;
}
.billboard picture img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.billboard img {
  display: block;
  width: 100%;
  height: auto;
}
.gradient-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    circle at top left,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(0, 0, 0, 0.2) 40%,
    rgba(0, 0, 0, 0) 80%
  );
}
.billboard-title {
  font-family: sans-serif;
}
.billboard-logline {
  width: 30%;
  font-family: sans-serif;
}
.image-text {
  position: absolute;
  padding-top: 10%;
  padding-left: 5%;
}
.grid-box {
  position: relative;
  display: inline-block;
  margin: 2px;
}
.grid-box.selected {
  border: 2px solid white;
  border-radius: 5px;
}
.grid-box-button {
  display: none;
  position: absolute;
  right: 10px; /* distance from top of image */
  bottom: 10px; /* distance from left of image */
  padding: 6px 6px;
  border: 1px solid white;
  color: white;
  border-radius: 5px;
  background-color: black;
  cursor: pointer;
  z-index: 1;
}
.grid-box-button-text {
  vertical-align: middle;
  margin-left: 5px;
}
.grid-box-button-image {
  vertical-align: middle;
}
.grid-box:hover {
  transform: scale(1.2);
  z-index: 15;
}
.grid-box:hover .grid-box-button {
  display: block;
}
.mylist-container {
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
}
